:root {
  --ayarlar-animasyon: OpakligiAzalt;
  --ust-menu-animasyon: UstMenuYukari;
  --kitap-ekle-afis-animasyon: KitapEkleBaslikAsagi;
  --kitap-ekle-form-animasyon: OpakligiArtir;
  --temel-ogeler-animasyon: TemelSayfalarYukari;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Gri arka plan rengi */
}

.turform {
    width: 12%;
	height: 35px;
}

.ustmenu {
	position:absolute;
    justify-content: space-around;
    background-color: #555;
    overflow: hidden;
	height: 59px;
	width: 100%;
	animation: var(--ust-menu-animasyon) 0.7s ease-in-out forwards; /* 0.7 saniyede hareket etsin */
}

.ustmenu a {
    text-decoration: none;
    color: white;
    padding: 20px;
	text-align: center; /* Metni ortala */
    transition: background-color 0.3s, flex-grow 0.3s;
    flex: 1;
}

.ustmenu a:hover {
    background-color: #777;
    flex-grow: 4;
}

.ustmenu:hover a {
    flex: 1;
    flex-grow: 1;
}

.ustmenu:hover {
    background-color: #555;
}

.form-container {
	position: absolute;
	width: 100%;
	top: 59px;
	bottom: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
	animation: var(--kitap-ekle-form-animasyon) 0.7s ease-in-out forwards; /* 0.7 saniyede aşağı hareket etsin */
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
	border: none;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.tus1 {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
	text-decoration: none;
	border: none;
}

.tus1:hover {
    background-color: #45a049;
}

.tus1:focus {
    outline: none;
}

.kitapekleafis {
    position: absolute;
	top: 0px;
	height: 59px;
	width: 100%;
	align-items: center;
	justify-content: space-around;
    background-color: #555;
    animation: var(--kitap-ekle-afis-animasyon) 0.7s ease-in-out forwards; /* 0.7 saniyede aşağı hareket etsin */
    color: #fff;
}

.temelogeler {
    position: absolute;
	width: 100%;
    bottom: 0px;
    height: auto;
    animation: var(--temel-ogeler-animasyon) 0.4s ease-in-out forwards; /* 0.4 saniyede yukarı hareket etsin */
    overflow: auto; /* İçeriğin sınırlarını koru */
}

.tablo {
	width: 100%;
	border-top: 1px solid #ddd;
}

#YazarTablo td{
	border-right: 1px solid #ddd;
}

.tablo th, .tablo td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;

}

.tablo th {
    background-color: #f2f2f2;
}

.tablo tr:hover {
    background-color: #f5f5f5;
}

@keyframes TemelSayfalarYukari {
  to {
    top: 59px; /* Sonunda yukarıdan aşağıya tam konumda olsun */
    opacity: 100%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}

@keyframes TemelSayfalarAsagi {
  to {
    top: 100%; /* Sonunda yukarıdan aşağıya tam konumda olsun */
	opacity: 0%; /* Sonunda opaklık 0% olsun*/
  }
}

@keyframes OpakligiArtir {
  to {
	opacity: 100%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}

@keyframes OpakligiAzalt {
  to {
	opacity: 0%; /* Sonunda opaklık 0% olsun*/
  }
}

@keyframes UstMenuYukari {
  to {
    top: -59px; /* Sonunda aşağıdan yukarıya gitsin ve gizlensin */
	opacity: 0%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}

@keyframes UstMenuAsagi {
  to {
    top: 0px; /* Sonunda yukarıdan aşağıya tam konumda olsun */
	opacity: 100%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}

@keyframes KitapEkleBaslikAsagi {
  to {
    top: 0; /* Sonunda yukarıdan aşağıya tam konumda olsun */
	opacity: 100%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}

@keyframes KitapEkleBaslikYukari {
  to {
    top: -100px; /* Sonunda aşağıdan yukarıya gitsin ve gizlensin */
	opacity: 0%; /* Sonunda opaklık 100% (tam opak) olsun */
  }
}
